<div class="h-screen flex justify-center items-center">

    <form action="" class="flex flex-col gap-y-3 border border-slate-300 rounded-lg p-5 shadow min-w-[300px]">
        <h1 class="text-2xl">Crea un cuenta gratuita</h1>

        <div class="flex flex-col gap-2">
            <label class="text-slate-600" for="">Correo</label>
            <input placeholder="Ingrese su correo" id="input-email" class="rounded border border-slate-200 p-2 focus:outline-emerald-500" type="email" required>
        </div>

        <div class="flex flex-col gap-2">
            <label class="text-slate-600" for="">Contraseña</label>
            <input placeholder="Ingrese su contraseña" id="input-password" class="rounded border border-slate-200 p-2 focus:outline-emerald-500" type="password" required>
        </div>
        
        <button id="btn-form" type="submit" class="font-semibold bg-emerald-500 text-emerald-50 py-2 rounded shadow-sm cursor-pointer">Registrar</button>
    </form>

</div>