<tr>
    <td class="border-b text-white border-emerald-700 p-2 font-semibold">Sistema</td>
    <td class="border-b text-white border-emerald-700 p-2 text-center">{osType}</td>
</tr>
<tr>
    <td class="border-y text-white border-emerald-700 p-2 font-semibold">Plataforma</td>
    <td class="border-y text-white border-emerald-700 p-2 text-center">{osPlatform}</td>
</tr>
<tr>
    <td class="border-y text-white border-emerald-700 p-2 font-semibold">Arquitectura</td>
    <td class="border-y text-white border-emerald-700 p-2 text-center">{osArch}</td>
</tr>
<tr>
    <td class="border-y text-white border-emerald-700 p-2 font-semibold">Versión</td>
    <td class="border-y text-white border-emerald-700 p-2 text-center">{osRelease}</td>
</tr>
<tr>
    <td class="border-y text-white border-emerald-700 p-2 font-semibold">Total CPU's</td>
    <td class="border-y text-white border-emerald-700 p-2 text-center">{cpuNumbers}</td>
</tr>
<tr>
    <td class="border-y text-white border-emerald-700 p-2 font-semibold">Modelo CPU</td>
    <td class="border-y text-white border-emerald-700 p-2 text-center">{cpuDetail}</td>
</tr>
<tr>
    <td class="border-y text-white border-emerald-700 p-2 font-semibold">Memoria total</td>
    <td class="border-y text-white border-emerald-700 p-2 text-center">{totalMemory}</td>
</tr>
<tr>
    <td class="border-y text-white border-emerald-700 p-2 font-semibold">Host</td>
    <td class="border-y text-white border-emerald-700 p-2 text-center">{hostname}</td>
</tr>
<tr>
    <td class="border-t text-white border-emerald-700 p-2 font-semibold">Usuario</td>
    <td class="border-t text-white border-emerald-700 p-2 text-center">{username}</td>
</tr>